* {
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    margin: 0;
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 30;
}

.header {
    background-color: #001A28;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    color: #94B9EB;
    font-family: oi, sans-serif;
    margin: 0.5rem;
    font-weight: 100;
}

/*menu mobile*/

.desktop {
    display: none;
}

.burgerMenuButton {
    padding: 8px;
    position: absolute;
    right: 8px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #94B9EB;
}

.burger {
    display: none;
}

#burger:checked ~ .burger{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

#burger {
    display: none;
}

#x {
    display: none;
}

.burgerMenu {
    position: absolute;
    background-color: #94B9EB;
    width: 256px;
    height: 100vh;
    transition: 0.3s;
}

.burgerTop {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.xButton {
    color: #FAF1F0;
    font-weight: bold;
}

.burgerLogo {
    font-family: oi, sans-serif;
    color: #FAF1F0;
    font-weight: 100;
}

.navMobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    gap: 2rem;
}

.navList li  a{
    color: #FAF1F0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navList li:nth-child(4) {
    text-decoration: underline;
    color: #FAF1F0;
}

.burgerBottom {
    position: absolute;
    bottom: -6%
}

/*main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF1F0;
    padding: 0 35px 32px 35px;
}

.checkoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headers {
    font-size: 24px;
    font-weight: bold;
    padding: 16px 35px 35px 0;
}

.dark {
    background-color: #EAEAEA;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 19px 16px 19px 16px;
    align-items: center;
}

.light {
    background-color: #FAF1F0;
    width: 360px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 19px 16px 19px 16px;
    align-items: center;
}

.amount {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    gap: 11px;
    width: 88px;
}

.selector {
    color: #001A28;
}

.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF1F0;
    color: #001A28;
    font-size: 12px;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    border: solid 1px #C2C2C2;
}

.total {
    font-size: 12px;
    font-weight: normal;
    color: #001A28;
}

.cart {
    background-color: #EAEAEA;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 56px;
    gap: 8px;
}

.cart h4{
    font-weight: bold;
}

.cart ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
}

.cart ul li {
    color: #001A28;
    padding: 4px 0 4px 0;
}

.line {
    width: 338px;
    height: 1px;
    background-color: #94B9EB;
    margin: 61px 0 16px 0;
}

.completePurchase {
    width: 360px;
    height: 50px;
    color: #001A28;
    background-color: #94B9EB;
    border-radius: 32px;
    border: none;
    margin:16px 0 64px;
    font-size: 24px;
    font-weight: bold;
}

/*footer*/

.footerWrapper {
    width: 100vw;
    height: 180px;
    background-color: #001A28;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerWrapper ul {
    color: #94B9EB;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px;
}

.footerWrapper ul li {
    font-size: .5rem;
    font-weight: 400;
}

@media (min-width: 800px) {
    .burgerMenuButton {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .logo {
        padding-left: 29px;
        font-size: 32px;
    }

    .navDesktop {
        display: flex;
        list-style: none;
        padding: 17px 29px;
        gap: 36px;
    }


    .navDesktop li a {
        color: #FAF1F0;
        font-weight: bold;
        text-decoration: none;
    }

    .navDesktop li:nth-child(2) {
        text-decoration: underline;
        color: #FAF1F0;
    }


    .mobile {
        display: none;
    }

    main {
        padding: 36px;
        height: 100vh;
    }

    .checkoutWrapper {
        flex-direction: row;
        gap: 9.1vw;
    }

    button:hover {
        color: #94B9EB;
        background-color: #001A28;
        cursor: pointer;
    }

    .footerWrapper ul li {
        font-size: 1rem;
    }
}

