* {
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    margin: 0;
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 30;
}

.header {
    background-color: #001A28;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    color: #94B9EB;
    font-family: oi, sans-serif;
    margin: 0.5rem;
    font-weight: 100;
}

/*menu mobile*/

.desktop {
    display: none;
}

.burgerMenuButton {
    padding: 8px;
    position: absolute;
    right: 8px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #94B9EB;
}

.burger {
    display: none;
}

#burger:checked ~ .burger{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

#burger {
    display: none;
}

#x {
    display: none;
}

.burgerMenu {
    position: absolute;
    background-color: #94B9EB;
    width: 256px;
    height: 100vh;
    transition: 0.3s;
}

.burgerTop {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.xButton {
    color: #FAF1F0;
    font-weight: bold;
}

.burgerLogo {
    font-family: oi, sans-serif;
    color: #FAF1F0;
    font-weight: 100;
}

.navMobile {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    gap: 2rem;
}

.navList li  a{
    color: #FAF1F0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navList li:first-of-type {
    text-decoration: underline;
    color: #FAF1F0;
}

.burgerBottom {
    position: absolute;
    bottom: -6%
}

/*start of main*/

.visitVisionarium {
    background: #001A28;
    height: 990px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    position: absolute;
    top: 150px;
    z-index: 10;
    width: 100vw;
    overflow: hidden;
}

.desktopLogo {
    display: none;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 280px;
    z-index: 20;
    gap: 57px;
    color: #94B9EB;
    font-size: 80px;
    font-weight: bold;
}

#visionarium {
    font-size: 40px;
    font-family: oi, sans-serif;
    font-weight: 100;
}

/*start of slider*/

.sliderWrapper {
    height:426px;
    display: flex;
    align-items: center;
    background-color: #FAF1F0;
}

.sliderWrapper h1 {
    text-align: center;
    font-family: oi, sans-serif;
    font-weight: 100;
    font-size: 100px;
    color:#94B9EB;
    position: absolute;
    padding-left: 11px;
    z-index: 10;
}

.slider {
    z-index: 20;
    width: 181px;
    display: flex;
   align-items: center;
}

.item {
    position: absolute;
    width: 190px;
    height: 280px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(53% - 110px);
    top: 1109px;
    overflow: hidden;
}

#next, #prev{
    position: absolute;
    text-align: center;
    top: 1204px;
    color: #94B9EB;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 90%;
}

#next{
    left: 3%;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 58px;
    width: 190px;
    background-color: rgb(0, 26, 40);
}

.textWrapper h2 {
    color: #FAF1F0;
    background-color: rgba(0, 12, 24, 0.75);
    height: 58px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageWrapper {
    width: 190px;
    height: 222px;
}

.imageWrapper img {
    width: 190px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

/*start of visiting hours*/

.mapImage {
    width: 100vw;
    height: 276px;
    object-fit: cover;
}

.visitingHoursWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    background-color: #FAF1F0;
}

.visitingHours {
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.visitingHours h2 {
    color: #001A28;
    font-size: 56px;
}

.visitingHoursList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 64px;
}

.visitingHours ul {
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 0;
}

.visitingHours ul li {
    font-size: 24px;
    color: #001A28;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

/*footer*/

.footerWrapper {
    width: 100vw;
    height: 180px;
    background-color: #001A28;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerWrapper ul {
    color: #94B9EB;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 16px;
}

.footerWrapper ul li {
    font-size: .5rem;
    font-weight: 400;
}

@media (min-width: 800px) {
    .burgerMenuButton {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .logo {
        padding-left: 29px;
        font-size: 32px;
    }

    .navDesktop{
        display: flex;
        list-style: none;
        padding: 17px 29px;
        gap: 36px;
    }


    .navDesktop li a {
        color: #FAF1F0;
        font-weight: bold;
        text-decoration: none;
    }

    .navDesktop li:nth-child(1) {
        text-decoration: underline;
        color: #FAF1F0;
    }


    .mobile {
        display: none;
    }

    .desktopLogo {
        display: flex;
        position: absolute;
        top: 150px;
        z-index: 10;
        width: 100vw;
    }

    .visitVisionarium {
        height: 1069px;
    }

    .visitVisionarium h2{
        font-size: 200px;
    }

    #visionarium {
        font-size: 8.3vw;
        width: 100vw;
        overflow: hidden;
        text-align: center;
    }

    .sliderWrapper {
        height: 1066px;
        padding-top: 16px;
    }

    .sliderWrapper h1 {
        font-size: 24vw;
        padding: 0;
    }

    .item {
        width: 489px;
        height: 721px;
        border-radius: 25px;
        left: calc(53% - 300px);
        top: 1243px;
    }

    .item:hover {
        cursor: pointer;
    }

    #next, #prev{
        top: 1600px;
    }

    #next, #prev:hover{
        cursor: pointer;
        color: #73a4e7;
    }

    .textWrapper {
        height: 148px;
        width: 489px;
    }

    .textWrapper h2 {
        height: 148px;
        font-size: 40px;
    }

    .imageWrapper {
        width: 489px;
        height: 572px;
    }

    .imageWrapper img {
        width: 489px;
        height: 721px;
    }

    .visitingHoursWrapper {
        flex-direction: row-reverse;
        height: 1069px;
    }

    .map img {
        height: 1069px;
        width: 50vw;
    }

    .visitingHours {
        display: flex;
        justify-content: center;
        width: 50vw;
        text-align: center;
    }

    .footerWrapper ul li {
        font-size: 1rem;

    }
}
